.form-input {
  input {
    width: 100%;
    font-family: "Poppins";
    font-size: 1.4rem;
    line-height: 100%;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: rgba(128, 124, 124, 1);
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    border-radius: 4rem;
    padding: 1rem 2.5rem;
    min-height: 4.8rem;
    background-color: var(--clr-white);
    transition: border-color var(--transition);
  }

  &.error {
    .form-input__wrapper {
      border: 0.1rem solid var(--clr-error);
      transition: border-color var(--transition);
    }
  }

  &.disabled {
    opacity: 0.45;
    pointer-events: none;
  }
}
